@import "src/styles/variables";

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.link {
  display: block;
  flex: 0 1 auto;

  & + & {
    margin-left: 16px;
  }
}

.badge-app-store,
.badge-google-plus {
  height: 40px;

  :global {
    .svg-interactive {
      fill: $color-primary;
      transition: fill 0.3s ease-in;
    }
  }

  @media (hover: hover) and (min-width: $viewport--lg) {
    &:hover {
      :global {
        .svg-interactive {
          fill: $color-secondary;
        }
      }
    }
  }
}

.badge-app-store {
  width: 120px;
}

.badge-google-plus {
  width: 135px;
}
