@import "src/styles/variables";

.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: $viewport--sm) {
        flex-direction: row;
        align-items: center;
    }
}

.link {
    display: block;
    opacity: 1;
    flex: 0 1 auto;
    transition: opacity 0.3s ease-in;

    & + & {
        margin-top: 16px;

        @media (min-width: $viewport--sm) {
            margin-top: 0;
            margin-left: 16px;
        }
    }

    @media (hover: hover) and (min-width: $viewport--lg) {
        &:hover {
            opacity: 0.8;
        }
    }
}

.badge-app-store,
.badge-google-plus {
    display: block;
    height: 40px;
}

.badge-app-store {
    width: 120px;
}

.badge-google-plus {
    width: 135px;
}
