@import "src/styles/variables";

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.badge {
  display: block;
  flex: 0 1 auto;
  height: 40px;
  background: transparent no-repeat 50% 50%;
  background-size: contain;

  & + & {
    margin-left: 16px;
  }
}

.badge-app-store {
  width: 120px;
  background-image: url("../images/badge-app-store.svg");
}

.badge-google-plus {
  width: 135px;
  background-image: url("../images/badge-google-play.svg");
}
