@import "src/styles/variables";

.root {
  position: relative;
  z-index: $z-index-header;
  width: 100%;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 200px; // In design: 240px;
    content: " ";
    background: $gradient-header;

    @media (min-width: $viewport--lg) {
      height: 100%;
      background: $gradient-header--desktop;
    }
  }
}

.root--fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  height: 125px;
  padding-top: 32px;
}

.logo {
  display: block;
  width: 100px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.title,
.description {
  max-width: 300px;
  margin: 0;
  padding: 0;
  color: $color-secondary;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.title {
  padding-top: 32px;
  font-weight: 700;
}

.description {
  padding-top: 8px;
}
