@import "src/styles/variables";

.root {

}

.container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  display: block;
  width: 100px;
  height: 40px;
  margin: 0 0 8px;
  padding: 0;
}

.description {
  max-width: 300px;
  color: $color-secondary;
  text-transform: uppercase;
}
