@import "src/styles/variables";

.root {
    margin: 0 0 48px;
    padding: 0;
    font-family: $font-family--secondary;
    font-size: 8vw; // In design: 32px;
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    text-transform: uppercase;

    @media (min-width: $viewport--md) {
        line-height: 0.9;
    }

    @media (min-width: $viewport--xl) {
        font-size: 100px;
    }

    div {
        &:nth-child(1) {
            color: $color-secondary;
        }
    }
}
