@import "src/styles/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $color-font;
  font-family: $font-family--arial;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  background: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $color-heading;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;

  & + & {
    margin-top: 16px;
  }
}

a {
  color: $color-link;
}
