@import "src/styles/variables";

.root {
    margin: 0;
    padding: 0;

    @media (min-width: $viewport--md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.container {
    position: relative;
    z-index: 20;
    margin: 0 0 54px;

    @media (min-width: $viewport--md) {
        margin-bottom: 0;
    }
}

.slogan {
    margin: 0;
    padding: 0;
    font-family: $font-family--secondary;
    font-size: 8vw; // In design: 32px;
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 0 0 30px rgba($color-black, 0.6);
    will-change: opacity;
    transition: opacity 0.8s ease-in;

    @media (min-width: $viewport--md) {
        font-size: 6vw;
        line-height: 0.9;
    }

    @media (min-width: $viewport--lg) {
        font-size: 8vw;
    }

    @media (min-width: $viewport--xl) {
        font-size: 100px;
    }

    div {
        will-change: transform;
        transform: translateY(0);
        backface-visibility: hidden;
        transition: transform 1.5s $ease-ou-cubic;

        &:nth-child(1) {
            color: $color-secondary;
        }
    }
}

.slogan--in {
    opacity: 0;

    div {
        &:nth-child(1) {
            transform: translateY(50%);
        }

        &:nth-child(2) {
            transform: translateY(100%);
        }

        &:nth-child(3) {
            transform: translateY(150%);
        }

        &:nth-child(4) {
            transform: translateY(200%);
        }

        &:nth-child(5) {
            transform: translateY(250%);
        }
    }
}

.slogan--active {
    opacity: 1;

    div {
        transform: translateY(0);
    }
}

.slogan--out {
    opacity: 0;

    div {
        transform: translateY(0);
    }
}

.app-links {
    opacity: 1;
    margin-top: 48px;
    will-change: opacity;
    transition: opacity 0.8s ease-in;
}

.app-links--hidden {
    opacity: 0;
}

.product {
    opacity: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 408px;
    will-change: opacity;
    transition: opacity 0.8s ease-in;

    @media (min-width: $viewport--md) {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: calc((80 / 1440) * 100%);
        z-index: 10;
        width: calc((717 / 1440) * 100%);
        height: 100%;
    }
}

.product--hidden {
    opacity: 0;
}

.product-ios,
.product-android {
    position: absolute;
    height: 0;
    background: transparent no-repeat 0 0;
    background-size: contain;
    will-change: top;
    transform: translateY(0);
    backface-visibility: hidden;
    transition: all 1.7s $ease-ou-cubic;

    @media (min-width: $viewport--md) {
        will-change: transform;
    }
}

.product-ios {
    top: 0;
    left: 0;
    width: calc((231 / 375) * 100%);
    padding: calc((1033 / 717) * 100%) 0 0;
    background-image: url("../images/phone-ios.png");

    @media (min-width: $viewport--md) {
        top: 50%;
        left: 0;
        width: calc((467 / 717) * 100%);
        padding: calc((1033 / 717) * 100%) 0 0;
        transform: translateY(-62.1%);
    }

    .product--hidden & {
        top: 40%;

        @media (min-width: $viewport--md) {
            top: 50%;
            transform: translateY(-50%);
        }

        @media (min-width: $viewport--lg) {
            transform: translateY(-40%);
        }
    }
}

.product-android {
    top: calc((200 / 408) * 100%);
    right: calc((20 / 375) * 100%);
    width: calc((162 / 375) * 100%);
    padding: calc((854 / 717) * 100%) 0 0;
    background-image: url("../images/phone-android.png");

    @media (min-width: $viewport--md) {
        top: 50%;
        right: 0;
        width: calc((329 / 717) * 100%);
        padding-top: calc((854 / 717) * 100%);
        transform: translateY(-28%);
    }

    .product--hidden & {
        top: calc((500 / 408) * 100%);

        @media (min-width: $viewport--md) {
            top: 50%;
            transform: translateY(10%);
        }

        @media (min-width: $viewport--lg) {
            transform: translateY(18%);
        }
    }
}
